/**
 * Base Variables
 */
$font: "Source Sans Pro", sans-serif;

$color-alpha: #85c4bc;

$color-black: #000;
$color-grey: #a9b1b3;
$color-white: #fff;

$mq-xs: 20em;
$mq-sm: 30em;
$mq-md: 54em;
$mq-lg: 64em;
$mq-xl: 76.5em;
$mq-xxl: 114em;

/**
  * Mixins
  */
@mixin nth-animation-delay($items: 3, $time: 0.1s) {
  @for $i from 1 through $items {
    &:nth-child(#{$i}) {
      animation-delay: $time * $i;
    }
  }
}

/**
  * Base Settings/Overwrite Normalize
  */
*,
*:before,
*:after {
  box-sizing: border-box;
}

h1 {
  margin-top: 0;
  margin-bottom: 0.6em;
  font-size: 4em;
  font-weight: 900;
  line-height: 1.05;

}
h3{
  padding: 10px;
  margin: 10px;
  font-weight: 900;
  font-size:1.9em;
}
p {
  margin: 0;
  color: $color-grey;
}

figure {
  margin: 0;
}

/**
  * Text Selection
  */
::selection {
  color: $color-white;
  background-color: $color-alpha;
  text-shadow: none;
}


.post {
  border-top-right-radius:20px ;
  border-top-left-radius: 20px;
  width: 100%;
  white-space: normal;
  box-shadow: 20px -24px 51px 8px rgba(128,128,128,0.46);
  -webkit-box-shadow: 20px -24px 51px 8px rgba(128,128,128,0.46);
  -moz-box-shadow: 20px -24px 51px 8px rgba(128,128,128,0.46);  
  background-color: rgba(227, 233, 227, 0.88);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
    @media (min-width: $mq-md) {
    
    width: 60%;
    margin-left: 20%;
    margin-top: 3%;
    
  }

  & > *:first-child {
    position: relative;
    border-radius: 30px;
    border: solid 2px black;
    height: 14em;

    background-color: $color-black;

    @media (min-width: $mq-sm) {
      height: 18em;
    }

    @media (min-width: $mq-md) {
      height: 30em;
    }

    
  }
  & > *:last-child{
    margin-right: 50px;
    @media (min-width: $mq-md) {
      flex-basis: 50%;
      max-width: 50%; 
    }
    
    @media (min-width: $mq-xl) {
      flex-basis: 40%;
      max-width: 40%;
    }
  }
  


  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;
    span {
      @include nth-animation-delay();

      display: inline-block;

      animation: slide-up 0.8s ease-in-out both;
    }
  }

  &__category {
    position: relative;
    font-weight: 600;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;

      height: 2px;
      width: 3em;

      background-color: $color-black;
      animation: slide-in 1s ease-in both 0.5s;
    }
  }

  &__content {
    padding: 2em 0;
    
  }
  &__header {
    span {
      @include nth-animation-delay();

      display: inline-block;

      animation: slide-up 0.8s ease-in-out both;
    }
  }

  
  &__text {
    font-weight: 500;
    animation: fade-in 0.8s ease-in-out both 0.5s;
    margin-top: 32px;
    width: 100%;
    margin-right: 20px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    line-height: 25px;
    left: 0px;
    box-shadow: 20px 40px 49px 8px rgba(128,128,128,0.46);
    -webkit-box-shadow: 20px 40px 49px 8px rgba(128,128,128,0.46);
    -moz-box-shadow: 20px 40px 49px 8px rgba(128,128,128,0.46);
    text-align: left;    
    color:rgb(0, 0, 0);
    background-color: rgba(227, 233, 227, 0.88);
    padding: 30px;
    border-bottom-right-radius:20px ;
    border-bottom-left-radius: 20px;
    @media (min-width: $mq-md) {
      margin-right: 500px;
      width: 60%;
      left: 20%;
    }
    
  }
}

/**
  * Helpers
  */
.absolute-bg {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  animation: fade-in 0.5s ease-in-out both .3s;
}

/**
  * Animations
  */
@keyframes slide-in {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
