.NavLink {
  position: absolute;
  right: 8%;
  width: 80%;
  padding: 0.8%;
  
}
.Link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  float: right;
  margin: 2%;
  margin-top: 1%;
  
}
.Link:hover{
  color: greenyellow;
  transition: .3s ease-in-out;
}
@media screen and (min-width:76.5em) {
  .Link{
    margin-top:  0;
  }
}


